<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">

	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

	<title>
		{% if page.title %}
		Petre Pătraşc - {{ page.title }}
		{% endif %}
	</title>
</head>

<body>

	<header>
		<div class="container">
			<h1><a href="/">Petre Pătraşc</a></h1>
			<h2>Adventures in software development land, with SMB stars and kernel hooks.</h2>

			<section id="downloads">
				<a href="https://github.com/petrepatrasc" class="btn btn-github" target="_blank"><span class="icon"></span><span class="text">GitHub</span></a>
				<a href="https://bitbucket.org/petrepatrasc" class="btn btn-bitbucket" target="_blank"><span class="icon"></span><span class="text">Bitbucket</span></a>
				<a href="stackoverflow.com/users/983065/petre-ptrasc" class="btn btn-stackoverflow" target="_blank"><span class="icon"></span><span class="text">Stack Overflow</span></a>
				<a href="http://careers.stackoverflow.com/petrepatrasc" class="btn btn-careers" target="_blank"><span class="icon"></span><span class="text">Careers 2.0</span></a>
				<a href="http://uk.linkedin.com/in/petrepatrasc/" class="btn btn-linkedin" target="_blank"><span class="icon"></span><span class="text">LinkedIn</span></a>
			</section>
		</div>
	</header>

	<div class="container">
		<section id="main_content">
			{{ content }}
		</section>
	</div>


	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-44565261-2");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>